<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap" rel="stylesheet">
  <link rel="icon" href="../../img/myImg/roundme.png">
  <link rel="stylesheet" href="../styles.css">
  <link rel="stylesheet" href="../customStyles.css">

  <title>Abraham Dominc Uloko</title>
</head>

<body id="reachings_boy" class="font-roboto bg-body-back13 bg-right bg-fixed bg-cover bg-no-repeat">

  <!-- Navigation Bar -->
  <nav class="p-2 sm:py-4 sm:h-16 lg:px-48 bg-secondary-dark_gray text-primary-light sm:flex justify-between ">
    <!-- Logo  -->
    <div id="logo" class="block font-normal text-xl md:text-lg py-4 text-center sm:py-2">
      <a href="../index.html" class="pl-2 font-bold text-lg border-b border-secondary-dark_gray hover:border-primary-light transition-colors hover:text-2xl"><span class="border-r border-primary-light pr-2"><i class="fas fa-laptop-code"></i></span> Abraham Dominic Uloko</a>
    </div>

    <hr class="w-72 m-auto bg-secondary-dark_gray opacity-40 sm:hidden">

    <!-- Navigation Buttons -->
    <div id="sections" class="p-2 text-center">
      <a id="btn_about" href="../index.html" class="block text-sm sm:text-lg mx-auto sm:mx-3 sm:inline py-2 sm:py-1 sm:px-4 hover:text-secondary-green sm:border-b border-secondary-dark_gray hover:border-secondary-green transition ease-in-out cursor-pointer">Home</a>

      <a href="projects.html" id="btn_projects" class="block text-sm sm:text-lg mx-auto sm:mx-3 sm:inline py-2 sm:py-1 sm:px-4 hover:text-secondary-green sm:border-b border-secondary-dark_gray hover:border-secondary-green transition ease-in-out">Projects</a>

      <a href="reachings.html" id="btn_projects" class="block text-sm sm:text-lg mx-auto sm:mx-3 sm:inline py-2 sm:py-1 sm:px-4 hover:text-secondary-green sm:border-b border-secondary-dark_gray hover:border-secondary-green transition ease-in-out">Reachings</a>
    </div>

  </nav>

  <main class="sm:m-10">

    <h1 class="text-center my-10 text-3xl sm:text-6xl font-bold text-secondary-dark_gray tracking-widest">Reachings</h1>

    <section id="container" class="sm:mx-32 sm:my-24 text-secondary-dark_gray flex flex-col ml-10 gap-6 sm:gap-0 sm:flex-row">

      <div id="certificateBg" class="w-5/6 sm:w-2/4 bg-secondary-dark_gray p-8 sm:p-10 rounded-xl shadow-lg grid justify-items-start items-center gap-5 sm:gap-0">

        <img src="../../img/reachings/Udemy_logo.svg" alt="" class="bg-secondary-green px-6 py-1 sm:px-10 sm:py-4 rounded-xl">
        <a href="https://www.udemy.com/course/react-js-a-complete-guide-for-frontend-web-development/" target="_blank" class="text-lg sm:text-xl text-left p-4 sm:p-10 font-mono bg-primary-light_gray rounded-xl hover:underline">React JS- Complete Guide for Frontend Web Development  <br> Nanodegree Program <i class="fas fa-arrow-right"></i></a>

      </div>

      <img src="../../img/reachings/reactjs.jpg" alt="certificate" class="w-5/6 sm:w-3/6 rounded-xl sm:transform sm:-translate-x-52 sm:translate-y-40 shadow-lg">
    </section>

    <article class="p-20"></article>

    <section class="sm:mx-32 sm:my-24 text-secondary-dark_gray flex flex-col ml-10 sm:ml-0 gap-6 sm:gap-20 sm:flex-row justify-center">
      <div id="certificateBg" class="w-5/6 sm:w-2/4 bg-secondary-dark_gray p-8 sm:p-10 rounded-xl shadow-lg grid justify-items-start items-center gap-5 sm:gap-0">

        <img src="../../img/reachings/postmanfull.svg" alt="" class="bg-secondary-green px-6 py-1 sm:px-10 sm:py-4 rounded-xl">
        <a href="https://www.postman.com/company/student-program/#student-expert-program" target="_blank" class="text-lg sm:text-xl text-left p-4 sm:p-10 font-mono bg-primary-light_gray rounded-xl hover:underline">Postman Student Expert <i class="fas fa-arrow-right"></i></a>

      </div>
      <img src="../../img/reachings/Postman - Postman Student Expert - 2021-09-22.png" alt="" class="w-5/6 sm:w-auto rounded-xl">
    </section>

    <section class="mt-32 sm:mx-32 sm:my-24 text-secondary-dark_gray flex flex-col ml-10 sm:ml-0 gap-6 sm:gap-20 sm:flex-row justify-center">
      <div id="certificateBg" class="w-5/6 sm:w-2/4 bg-secondary-dark_gray p-8 sm:p-10 rounded-xl shadow-lg grid justify-items-start items-center gap-5 sm:gap-10">

        <img src="../../img/reachings/udemy_logo.svg" alt="" class="bg-secondary-green w-40 sm:w-60 px-6 py-1 sm:px-10 sm:py-4 rounded-xl">

        <img src="../../img/reachings/colt.png" alt="" class="w-full sm:w-auto rounded sm:rounded-lg">
        <img src="../../img/reachings/anthony.png" alt="" class="w-full sm:w-auto rounded sm:rounded-lg">
        <img src="../../img/reachings/jonas.png" alt="" class="w-full sm:w-auto rounded sm:rounded-lg">

      </div>
    </section>

    <article id="about" class="p-20 text-center flex flex-col gap-2 sm:block">

      <a href="../index.html" class="know_me h-12 sm:px-5 py-3 sm:py-2 sm:mx-5 font-bold text-primary-light hover:underline bg-secondary-green rounded-sm transition-all">Home</a>

    </article>

  </main>
  <!-- Footer -->
  <footer class="w-full py-12 bg-secondary-dark_gray text-primary-light_gray text-center">
    <section class="flex justify-center gap-6 sm:gap-20">
      <a href="https://twitter.com/abrahamdomenick" target="_blank"><i class="fab fa-twitter text-3xl hover:text-blue-400 transition ease-in-out"></i></a>
      <a href="https://www.linkedin.com/in/abrahamdominicnewton/" target="_blank"><i class="fab fa-linkedin-in text-3xl hover:text-blue-600 transition ease-in-out"></i></a>
      <a href="https://github.com/abrahamdominic" target="_blank"><i class="fab fa-github text-3xl hover:text-gray-600 transition ease-in-out"></i></a>
      <a href="https://discord.gg/dominic#6727" target="_blank"><i class="fab fa-discord  text-3xl hover:text-indigo-500 transition ease-in-out"></i></a>
      <a href="https://www.facebook.com/abdomenick" target="_blank"><i class="fab fa-facebook-f text-3xl hover:text-blue-500 transition ease-in-out"></i></a>
      <a href="https://www.instagram.com/abrahamdomenik/?hl=en" target="_blank"><i class="fab fa-instagram text-3xl hover:text-pink-500 transition ease-in-out"></i></a>
    </section>

    <section class="py-8">
      <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank" class="text-sm pr-6 hover:underline">HTML</a>
      <a href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank" class="text-sm pr-6 hover:underline">CSS</a>
      <a href="https://www.javascript.com/" target="_blank" class="text-sm pr-6 hover:underline">JavaScript</a>
      <a href="https://www.npmjs.com/" target="_blank" class="text-sm pr-6 hover:underline">NPM</a>
      <a href="https://tailwindcss.com/" target="_blank" class="text-sm pr-6 hover:underline">TailwindCSS</a>
    </section>

    <form action="" class="">
      <label for="mail"></label>
      <input type="mail" class="sm:mr-3 py-3 px-8" placeholder="Type your message..">
      <a href="mailto:abrahamdominic005@gmail.com" class="block mx-24 sm:mx-0 mt-4 sm:inline py-3 px-4 tracking-wide border-2 border-secondary-green text-secondary-green hover:underline">Contact Me</a>
    </form>

    <hr class="mx-auto my-6 w-5/6 opacity-10">

    <section class="mt-6 sm:flex justify-around">

      <h1 class="w-full sm:w-2/4 text-left flex justify-center sm:justify-start">
        <img src="../../img/myImg/roundme.png" alt="my Image" class="w-14 h-14 rounded-full">
        <div class="mx-6">
          <span class="inline font-light text-sm">Designed and developed by :</span>
          <span class="font-bold text-lg block tracking-wide">Abraham Dominic Uloko</span>
        </div>
      </h1>

      <h1 class="text-sm sm:text-normal font-bold mt-6">All Rights Reserved <i class="far fa-copyright"></i> Abraham Dominic Uloko 2022</h1>
    </section>

  </footer>

  <!-- <script src="../script.js"></script> -->
</body>

</html>
