*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  behavior: smooth;
  user-select: none;
}

 /* Reahings Page Card  */
#reachings_body {
  background-color: #252324;
  background-image: 
  radial-gradient(at 47% 33%, hsl(162.00, 77%, 40%) 0, transparent 59%), 
  /* radial-gradient(at 82% 65%, hsl(218.00, 39%, 11%) 0, transparent 55%); */
  radial-gradient(at 47% 33%, hsl(96.59, 0%, 100%) 0, transparent 59%), 
  radial-gradient(at 82% 65%, hsl(33.15, 91%, 61%) 0, transparent 55%);
}

#certificateBg , #badgeBg {
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

 /* Projects Page Card  */
.mainCard{
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

#greet{
  animation: fadeInIntro 1s ease-in-out;
}

#shortIntro{
  animation: fadeInIntro 1.5s ease-in-out;
}

@keyframes fadeInIntro {
  0%{
    opacity: 0;
    transform: translateY(120px);
  }
  
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

#container{
  animation: fadeInProjects 2s ease-in-out;
}

@keyframes fadeInProjects {
  0%{
    opacity: 0;
    transform: translateY(50rem);
  }

  60%{
    opacity: 6;
    transform: translateY(-3rem);
  }
  
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 700px) {
  *{
    overflow-x: hidden;
  }
}